<mat-card>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div>
      <mat-card-title>dashboard</mat-card-title>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
      <div>
        <mat-form-field appearance="outline" style="font-size: x-small;width: 10em">
          <mat-select placeholder="Uploader" [(ngModel)]="curr_index" (selectionChange)="setDashboardValues(setIDRef.value)"
            #setIDRef>
            <mat-option *ngFor="let batch of dashboardData;let i = index" [value]="i">
              {{batch.name}}
            </mat-option>
          </mat-select>
          <mat-hint align="start">Set ID : {{ uploader_selected }}</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <button mat-icon-button color="primary" matTooltip="Add Documents">
          <mat-icon aria-label="Add Documents" (click)="addDocument()">add_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <mat-card-footer>
    <!-- 'id', 'name', 'status', 'uploaded' -->
    <div>
      <table mat-table [dataSource]="dataSource" style="min-width: 18em;">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row">
            {{row.doc_id}}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row">
            <!-- <div fxShow.xs fxHide>
              {{(row.name.length>20)? (row.name | slice:0:20)+'..':(row.name)}}
            </div> -->
            <div style="width: 10em;word-wrap: break-word;" [ngStyle.xs]="{'width': '6em'}">
              {{ row.name }}
            </div>
          </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let row">
            {{ row.status }}
          </td>
        </ng-container>


        <!-- Date Column -->
        <ng-container matColumnDef="uploaded">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color">
            <div fxLayout="column" fxLayoutAlign="center center">
              <div>
                <div fxHide.xs>{{row.date_uploaded | date:'MMM d, yy'}}</div>
                <div fxHide fxShow.xs>{{row.date_uploaded | date:'MM/d/yy'}}</div>

              </div>
              <div>
                <div fxHide.xs>{{row.date_uploaded | date:'h:mm:ss a'}}</div>
                <div fxHide fxShow.xs>{{row.date_uploaded | date:'h:mm a'}}</div>
              </div>
            </div>
          </td>
        </ng-container>


        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center"> Actions </th>
          <td mat-cell *matCellDef="let row;let i = index">
            <div fxLayout="row" style="color:gray">
              <div>
                <button mat-icon-button >
                  <mat-icon aria-label="Edit Documents" (click)="editDocument(i)">edit</mat-icon>
                </button>
              </div>
              <div>
                <button mat-icon-button >
                  <mat-icon aria-label="Delete Documents" (click)="deleteDocument(i)">delete</mat-icon>
                </button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>

      </table>
    </div>

  </mat-card-footer>
</mat-card>